In [1]:
import numpy as np
import pandas as pd

 ## Задание 1

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()
data = boston["data"]

In [4]:
feature_names = boston["feature_names"]

#### Создание DataFrame-ов Х и y

In [5]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
target = boston["target"]
y = pd.DataFrame(target, columns=["price"])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

#### Разбиение DataFrame-ов на тренировочные с размером тестовой выборки 30% и random_state = 42.

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

##### Импорт и создание модели линейной регрессии

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
lr = LinearRegression()

##### Обучение модели на тренировочных данных

In [11]:
lr.fit(X_train, y_train)

LinearRegression()

In [12]:
y_pred = lr.predict(X_test)

##### Предсказания на тестовых данных

In [13]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

##### Вычисляем R2 полученных предсказаний

In [14]:
from sklearn.metrics import r2_score as r2

In [15]:
A = r2(y_pred, y_test)
A

0.669370269149561

 ## Задание 2

In [16]:
from sklearn.ensemble import RandomForestRegressor

##### Создаем model

In [17]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

##### Обучаем model с подстановкой values

In [18]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

##### Предсказания на тестовых данных

In [19]:
y_pred_model = model.predict(X_test)
check_test_model = pd.DataFrame({
    "y_test": y_test["price"], 
    "y_pred_model": y_pred_model.flatten()})

check_test_model.head()

     y_test  y_pred_model
173    23.6     22.806412
274    32.4     31.131464
491    13.6     16.339125
72     22.8     23.810726
452    16.1     17.139521

##### Вычисляем R2 полученных предсказаний

In [20]:
B = r2(y_pred_model, y_test)
B

0.8479049999699443

##### Сравниваем работу модели с моделью из Задания1

In [21]:
if A > B:
    print('Первая модель работает лучше Второй')
elif A < B:
    print('Вторая модель работает лучше Первой')
else:
    print('Обе модели работают одинаково')

Вторая модель работает лучше Первой

 ## Задание 3*

##### Вызываем документацию класса RandomForestRegressor

In [22]:
model.feature_importances_

array([0.03167574, 0.00154252, 0.00713813, 0.00123624, 0.01426897,
       0.40268179, 0.01429864, 0.06397257, 0.00528122, 0.01152493,
       0.01808108, 0.01245085, 0.41584732])

##### Атрибут feature_importances_ с сортировкой по значениям

In [23]:
feature_importances = pd.DataFrame(zip(X_train.columns, 
                                       model.feature_importances_), 
                                   columns=['feature_name', 'importance'])

feature_importances.sort_values(by='importance', ascending=False, inplace=True)

##### Сумма всех признаков в feature_importances_

In [24]:
feature_importances_sum = np.sum(feature_importances)
feature_importances_sum

feature_name    LSTATRMDISCRIMPTRATIOAGENOXBTAXINDUSRADZNCHAS
importance                                                1.0
dtype: object

##### Определяем два самых важных признака

In [25]:
feature_importances.head(2)

   feature_name  importance
12        LSTAT    0.415847
5            RM    0.402682